<!DOCTYPE html>

<%- include('nav') %>

<div class="title-cont">
<h1>Quizz de culture générale</h1>
</div>



<div class="exp">
Testez votre culture générale avec nos quizz, toutes les réponses aux questions sont sur le site, du coup si vous faites des erreurs, vous pourrez vous rattraper en lisant l’article associé à la question.

Deux niveaux de quiz sont disponibles (mode solo)
</div>

<br><br>


<form class="user-form" action="/register" method="post"  >
    <input type="text" name="email" placeholder="email...">
    <br>
    <input type="file" name="fileToUpload" id="fileToUpload">
    <br>
    <input type="password" name="mdp" placeholder="password...">
    <br>
    <input type="submit" value="Register">
</form>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>