<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<%- include('nav') %>

<div class="title-cont">
<h1>Voici votre resultat !</h1>
</div>


<div class="container">
	<div class="row">
		<div class="col-12 col-sm-5 display-3">
			Vous avez eu: <%= score %>
           <%if(score < 50) {%>
	    <p>Omfg you are so bad</p>
           <%}%>

          <%if(score>50) {%>
	   <p>Great job!!!</p>
          <%}%>

		</div>


		<div class="col-12 col-sm-7">
            <canvas id="myChart"></canvas>
			
		</div>
	</div>
</div>







<script type="text/javascript">


var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'pie',

    // The data for our dataset
    data: {
        labels: ['Smart', 'Dumb ass'],
        datasets: [{
            label: 'Your score',
            backgroundColor: ['green' , 'red'],
            borderColor: 'silver',
            data: [<%=score%>, 80-<%=score%>]
        }]
    },

    // Configuration options go here
    options: {}
});


</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>